/* Reset e configurações básicas */
body {
    background-color: #050505;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Impede rolagem */
    user-select: none;
}

/* Título Principal com efeito Neon */
.title {
    font-size: 50px;
    text-align: center;
    color: #ff0055; /* Rosa Neon */
    text-shadow: 4px 4px 0px #55001b;
    margin-bottom: 60px;
    line-height: 1.4;
    text-transform: uppercase;
}

.subtitle {
    font-size: 20px;
    color: #00ff88; /* Verde Neon */
    letter-spacing: 4px;
    text-shadow: none;
}

/* Lista de Jogos */
ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

li.option {
    font-size: 18px;
    margin: 25px 0;
    padding: 10px;
    cursor: pointer;
    color: #555; /* Cinza apagado */
    transition: transform 0.1s, color 0.2s;
    text-transform: uppercase;
}

/* Quando o item está selecionado */
li.option.selected {
    color: #fff;
    text-shadow: 0 0 15px #00ff88;
    transform: scale(1.2);
}

/* Setinhas ao redor do selecionado (> JOGO <) */
li.option.selected::before { content: "> "; color: #ff0055; animation: blink 1s infinite; }
li.option.selected::after { content: " <"; color: #ff0055; animation: blink 1s infinite; }

@keyframes blink { 50% { opacity: 0; } }

/* Animação ao escolher (pisca muito rápido) */
@keyframes flash {
    0% { color: #fff; opacity: 1; }
    50% { color: #ff0055; opacity: 0; }
    100% { color: #fff; opacity: 1; }
}

.chosen {
    animation: flash 0.1s infinite;
    color: #ff0055 !important;
}

/* Rodapé */
.footer {
    margin-top: 60px;
    text-align: center;
    font-size: 10px;
    color: #444;
    line-height: 20px;
}

/* Efeito de TV Antiga (Scanlines) */
.scanlines {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%);
    background-size: 100% 4px; /* Linhas finas */
    pointer-events: none; /* Deixa clicar através dele */
    z-index: 99;
    opacity: 0.4;
}

p.return {
    font-size: 18px;
    margin: 25px 0;
    padding: 10px;
    cursor:crosshair ;
    color: #555; /* Cinza apagado */
    transition: transform 0.1s, color 0.2s;
    text-transform: uppercase;
}

button.return-selected {
        color: #fff;
    text-shadow: 0 0 15px #00ff88;
    transform: scale(1.2);

}